body {
    background-color: green;
    color: aliceblue;
    text-align: left;
    font-weight: bold;
    padding: 0cap;
    margin-inline-start: auto;
    }
    img{
        width: 150px;
               height: 150px;
                   }
    div {
        padding: 5px;
        margin: 10px;
        color: aqua;
        text-align: left;
    }
    h2{
        color: antiquewhite;
        font-size: bold;
    }
    

